:root{
    --red : #FF0000;
}

.self-bg-red{
    background-color: var(--red);
}
.self-text-red{
    color: var(--red);
}
.self-bg-dark{
    background-color: #000000 !important;
}

.bg-trans-Img{
    background-image: url(/assets/bg-trans-img.svg);
    background-position: center;
}
.bg-dot-img{
    background-image: url(assets/57-578236_svg-black-and-white-download-wait-where-s.png);
    background-position: center;
    
}
p{
    margin-bottom: 0rem !important;
}
.bg-white-smoke{
    background-color: #F8F8F8;
}
.fs-8{
    font-size: 8px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.row{
    width: 100%;
    
}
.girlImageWidth{
    width: 160px;
     height: 170px;
}
.fs-139{font-size: 139px ;}
.fs-80{
    font-size: 80px;
}
.fs-50{
    font-size: 50px;
}



.fs-22
{
    font-size: 22px;
}
.fs-42{
    font-size: 42px;
}
.fs-55{
    font-size: 55px;
}
.fs-93{
    font-size: 93px;
}
.fs-57{
    font-size: 57px;
}
.fs-46{
    font-size: 46px;
}
.fs-40{
    font-size: 40px;
}
.fs-70{
    font-size: 70px;
}
.w-706{
    width: 706px;
}
.w-500{
    width: 500px;
}
.w-490{
    width: 490px;
}
.max-w-230{
    max-width: 230px; 
    min-width: 200px;
}
.w-350{ width: 350px;}
.x{
    padding: 10px 50px !important;
}
.y{
    padding: 0px 20px;
}
